---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import MailIcon from "../components/icons/Mail.astro";
import BriefcaseIcon from "../components/icons/Briefcase.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import SeccionContainer from "../components/SeccionContainer.astro";
---

<Layout title="Portafolio de Efrain Garcia - Desarrollador Web">
  <main class="px-4">
    <SeccionContainer class="pt-44 pb-24">
      <h1 class="text-white text-3xl lg:text-5xl font-bold flex flex-row flex-wrap gap-4 pb-10">
        Hey, soy Efrain <a
          href="https://www.linkedin.com/in/efrain-garcia-6a081197/"
          target="_blank"
          rel="noopener noreferrer"
          class="flex justify-center items-center"
          ><Badge>Disponible para trabajar</Badge></a
        >
      </h1>
      <h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px]">
        +2 años de experiencia. Desarrollador Web. De Sinaloa, México.
        Especializado en aplicaciones web.
      </h2>

      <ul class="flex flex-wrap gap-4 mt-8">
        <li>
          <SocialPill
            href="https://www.linkedin.com/in/efrain-garcia-6a081197/"
          >
            <LinkedInIcon class="size-6" />LinkedIn
          </SocialPill>
        </li>
        <li>
          <SocialPill href="https://github.com/JesusEfrainGarciaRodriguez">
            <GitHubIcon class="size-6" />GitHub
          </SocialPill>
        </li>
        <li>
          <SocialPill href="mailto:efraingarcia_86@hotmail.com">
            <MailIcon class="size-6" />efraingarcia_86@hotmail.com
          </SocialPill>
        </li>
      </ul>
    </SeccionContainer>

    <SeccionContainer id="experiencia">
      <h2 class="text-2xl font-semibol mb-6 flex gap-x-3 items-center">
        <BriefcaseIcon class="size-6"/> Experiencia laboral
      </h2>
      <Experience />
    </SeccionContainer>
  </main>
</Layout>
