---
import Layout from "../layouts/Layout.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import MailIcon from "../components/icons/Mail.astro";
import BriefcaseIcon from "../components/icons/Briefcase.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Portafolio de Efrain Garcia - Desarrollador Web">
  <main class="px-4">
    <SectionContainer class="py-24 flex items-center gap-x-5">
      <article class="w-2/4">
        <h6 class="text-white pb-2 text-xl font-bold">Hola, soy</h6>
        <h1
          class="text-white text-3xl lg:text-5xl font-bold flex flex-col flex-wrap gap-4 pb-5"
        >
          <span class="text-[#ffc300]/90">Efrain Garcia</span>
          <span>Web Developer</span>
        </h1>
        <h2 class="text-xl lg:text-xl opacity-80 max-w-[500px] text-balance">
          +2 años de experiencia. Especializado en aplicaciones web. De
          Mazatlán, Sinaloa, México.
        </h2>

        <ul class="flex flex-wrap gap-4 mt-8">
          <li>
            <SocialPill
              href="https://www.linkedin.com/in/efrain-garcia-6a081197/"
            >
              <LinkedInIcon class="size-6" />LinkedIn
            </SocialPill>
          </li>
          <li>
            <SocialPill href="https://github.com/JesusEfrainGarciaRodriguez">
              <GitHubIcon class="size-6" />GitHub
            </SocialPill>
          </li>
          <li>
            <SocialPill href="mailto:efraingarcia_86@hotmail.com">
              <MailIcon class="size-6" />efraingarcia_86@hotmail.com
            </SocialPill>
          </li>
        </ul>
      </article>
      <div class="w-2/4 flex justify-center items-center">
        <img
          class="h-[500px]"
          src="./porfolio-astro/foto.png"
          alt="Efrain foto"
        />
      </div>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-2xl font-semibol mb-6 flex gap-x-3 items-center">
        <BriefcaseIcon class="size-6" /> Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-2xl font-semibol mb-6 flex gap-x-3 items-center">
        <BriefcaseIcon class="size-6" /> Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
