---
import imageAboutMe from "../assets/image-about-me.webp";
import { Image } from "astro:assets";
import { t } from "i18next";
---

<article class="flex justify-center items-center flex-col sm:flex-row gap-10 mb-10">
  <Image
    src={imageAboutMe}
    alt="Sobre mí"
    class="size-[200px] object-contain bg-[#000814] border-2 border-blue-900  rounded-full"
  />
  <p class="text-pretty max-w-[500px]">
    <span class="text-[#ffc300]/90 font-semibold"
      >{t("aboutMe.description1")}</span
    >{t("aboutMe.description2")}
  </p>
</article>
