---
import CertificateItem from "../components/CertificateItem.astro";
import { t } from "i18next";
interface ICertificates {
  img: string;
  title: string;
  date: string;
  url: string;
}
const CERTIFICATES: Array<ICertificates> = t("certificates", {
  returnObjects: true,
  ns: "certificates"
});
---

<div>
  {
    CERTIFICATES.map((certificate) => (
      <article class="mb-3">
        <CertificateItem {...certificate} />
      </article>
    ))
  }
</div>
