---
import CertificateItem from "../components/CertificateItem.astro";
import javaScriptDeveloperImage from "../assets/Badge_JavaScript-Developer.webp";
const CERTIFICATES = [
  {
    img: javaScriptDeveloperImage,
    title: "Salesforce Certified JavaScript Developer I",
    date: "September 2023",
    url: "https://drive.google.com/file/d/1ivxl0r_w7DqFbNHw7jWO8cWANiA5YMWr/view?usp=sharing"
  },
];
---

<div>
  {
    CERTIFICATES.map((certificate) => (
      <article class="mb-3">
        <CertificateItem {...certificate} />
      </article>
    ))
  }
</div>
