---
import ExperienceItem from "./ExperienceItem.astro";
import { t } from "i18next";

interface IExperience {
  date: string;
  company: string;
  title: string;
  description: string;
}

const EXPERIENCE: Array<IExperience> = t("experiences", {
  returnObjects: true,
  ns: "experience"
});
---

<ol class="relative border-s border-gray-200/80 dark:border-gray-200/10 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
