<header class="py-5 w-full xl:w-[1000px] mx-auto flex justify-center">
  <nav
    class="fixed z-50 flex flex-row gap-x-10 flex-wrap justify-center border-2 opacity-80 hover:opacity-100 transition rounded-xl p-2 bg-[#000814]"
  >
    <a href="#inicio" class="hover:text-[#ffc300]/90 transition">Inicio</a>
    <a href="#experiencia" class="hover:text-[#ffc300]/90 transition"
      >Experiencia</a
    >
    <a href="#proyectos" class="hover:text-[#ffc300]/90 transition">Proyectos</a
    >
    <a href="#sobre-mi" class="hover:text-[#ffc300]/90 transition">Sobre mí</a>
    <a href="#contacto" class="hover:text-[#ffc300]/90 transition">Contacto</a>
  </nav>
</header>
