---
import { t } from "i18next";
import { LanguageSelector } from "astro-i18next/components";
import ThemeModeButton from "./ThemeModeButton.astro";
---

<header
  id="header"
  class="py-5 w-full fixed z-50 bg-white dark:bg-dark text-black dark:text-white border-blue-900 transition-[border] ease-in"
>
  <nav
    class="xl:w-[1000px] mx-auto flex flex-row justify-center sm:justify-normal flex-wrap gap-x-10 gap-y-2 px-5 sm:px-0 font-semibold"
  >
    <a
      href=`#${t("header.navbar.homeLink")}`
      class="hover:text-[#ffc300]/90 transition">{t("header.navbar.home")}</a
    >
    <a
      href=`#${t("header.navbar.experienceLink")}`
      class="hover:text-[#ffc300]/90 transition"
      >{t("header.navbar.experience")}</a
    >
    <a
      href=`#${t("header.navbar.projectsLink")}`
      class="hover:text-[#ffc300]/90 transition"
      >{t("header.navbar.projects")}</a
    >
    <a
      href=`#${t("header.navbar.certificationsLink")}`
      class="hover:text-[#ffc300]/90 transition"
      >{t("header.navbar.certifications")}</a
    >
    <a
      href=`#${t("header.navbar.aboutMeLink")}`
      class="hover:text-[#ffc300]/90 transition">{t("header.navbar.aboutMe")}</a
    >
    <LanguageSelector />
    <ThemeModeButton />
  </nav>
</header>

<script>
  const header = document.getElementById("header");

  window.addEventListener("scroll", function () {
    const scrollPosition = document.documentElement.scrollTop;
    scrollPosition > 0
      ? header?.classList.add("border-b-2")
      : header?.classList.remove("border-b-2");
  });
</script>
