<header
  id="header"
  class="py-5 w-full fixed z-50 bg-[#000814] border-blue-900 transition-[border] ease-in"
>
  <nav
    class="xl:w-[1000px] mx-auto flex flex-row justify-center sm:justify-normal flex-wrap gap-x-10 gap-y-2 px-5 sm:px-0 font-semibold"
  >
    <a href="#inicio" class="hover:text-[#ffc300]/90 transition">Inicio</a>
    <a href="#experiencia" class="hover:text-[#ffc300]/90 transition"
      >Experiencia</a
    >
    <a href="#proyectos" class="hover:text-[#ffc300]/90 transition">Proyectos</a
    >
    <a href="#certificaciones" class="hover:text-[#ffc300]/90 transition">Certificaciones</a>
    <a href="#sobre-mi" class="hover:text-[#ffc300]/90 transition">Sobre mí</a>
  </nav>
</header>

<script>
  const header = document.getElementById("header");

  window.addEventListener("scroll", function () {
    const scrollPosition = document.documentElement.scrollTop;
    scrollPosition > 0
      ? header?.classList.add("border-b-2")
      : header?.classList.remove("border-b-2");
  });
</script>
