<header id="header" class="py-5 w-full fixed z-50 bg-[#000814]">
  <nav
    class="xl:w-[1000px] mx-auto flex flex-row flex-wrap gap-x-10 font-semibold"
  >
    <a href="#inicio" class="hover:text-[#ffc300]/90 transition">Inicio</a>
    <a href="#experiencia" class="hover:text-[#ffc300]/90 transition"
      >Experiencia</a
    >
    <a href="#proyectos" class="hover:text-[#ffc300]/90 transition">Proyectos</a
    >
    <a href="#sobre-mi" class="hover:text-[#ffc300]/90 transition">Sobre mí</a>
    <a href="#contacto" class="hover:text-[#ffc300]/90 transition">Contacto</a>
  </nav>
</header>

<script>
  const header = document.getElementById("header");

  window.addEventListener("scroll", function () {
    const scrollPosition = document.documentElement.scrollTop;
    scrollPosition > 0 ? header?.classList.add("border-b") : header?.classList.remove("border-b");
  });
</script>
