<header class="py-5 w-full xl:w-[1000px] mx-auto flex justify-center">
  <nav
    class="fixed z-50 flex flex-row gap-x-10 flex-wrap justify-center border-2 opacity-80 rounded-xl p-2 bg-white/10"
  >
    <a href="#inicio">Inicio</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#sobre-mi">Sobre mí</a>
    <a href="#contacto">Contacto</a>
  </nav>
</header>
