---
import GitHubIcon from "../components/icons/GitHub.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import MailIcon from "../components/icons/Mail.astro";
import PhoneIcon from "../components/icons/Phone.astro";
import CvIcon from "../components/icons/Cv.astro";
import SocialLink from "../components/SocialLink.astro";
import imageHero from "../assets/imageHero.webp";
import { Image } from "astro:assets";
import { t } from "i18next";
---

<article class="sm:w-2/4">
  <h6 class="text-black dark:text-white pb-2 text-xl font-bold">{t("hero.hiIam")}</h6>
  <h1
    class="text-black dark:text-white text-3xl lg:text-5xl font-bold flex flex-col flex-wrap pb-3"
  >
    <span class="text-[#ffc300]/90 mb-1 sm:mb-4">{t("hero.name")}</span>
    <span>{t("hero.position")}</span>
  </h1>
  <h2 class="text-black dark:text-white text-lg lg:text-xl opacity-80 max-w-[500px] text-balance">
    {t("hero.description")}
  </h2>

  <ul class="flex flex-wrap items-center gap-4 mt-4">
    <li>
      <SocialLink
        href="https://www.linkedin.com/in/efrain-garcia-6a081197/"
        aria-label="LinkedIn"
      >
        <LinkedInIcon class="text-black dark:text-white size-6 hover:scale-110" />
      </SocialLink>
    </li>
    <li>
      <SocialLink
        href="https://github.com/JesusEfrainGarciaRodriguez"
        aria-label="Github"
      >
        <GitHubIcon class="text-black dark:text-white size-6 hover:scale-110" />
      </SocialLink>
    </li>
    <li>
      <SocialLink href="mailto:efraingarcia_86@hotmail.com" aria-label={t("hero.mail")}>
        <MailIcon class="text-black dark:text-white size-6 hover:scale-110" />
      </SocialLink>
    </li>
    <li>
      <SocialLink href="tel:6694415732" aria-label={t("hero.phone")}>
        <PhoneIcon class="text-black dark:text-white size-6 hover:scale-110" />
      </SocialLink>
    </li>
    <li>
      <SocialLink
        href="https://drive.google.com/file/d/1O2huJkdzIz1-rd_BaXXUTynWFQ6XGDnC/view?usp=sharing"
        aria-label={t("hero.downloadCV")}
      >
        <CvIcon class="text-black dark:text-white size-6 hover:scale-110" />
      </SocialLink>
    </li>
  </ul>
</article>

<div
  class="sm:w-2/4 flex justify-center items-center relative after:content-[''] after:left-0 after:right-0 after:h-full after:absolute after:bg-gradient-border dark:after:bg-gradient-border-dark"
>
  <Image
    src={imageHero}
    alt=`${t("hero.name")} ${t("hero.downloadCV")}`
    class="h-[300px] sm:h-[500px] w-auto"
  />
</div>
