---
import ProjectsItem from "./ProjectsItem.astro";
import restauranteImage from "../assets/landing-restaurante.png";
import rickMortyImage from "../assets/Rick-and-morty-landing.png";
import todoListImage from "../assets/todo-list.png";
import memoramaImage from "../assets/memorama.png";
const PROJECTS = [
  {
    img: todoListImage,
    title: "Lista de gastos",
    description: "Lista de gastos para llevar un control financiero.",
    icons: ["React", "Firebase", "JavaScript"],
    codeUrl: "https://github.com/JesusEfrainGarciaRodriguez/to_do_list_react",
    previewUrl: "https://lista-gastos-react-dbd34.firebaseapp.com/",
  },
  {
    img: rickMortyImage,
    title: "Rick and Morty",
    description: "Wiki de Rick and Morty consumiendo Api externa.",
    icons: ["React", "JavaScript"],
    codeUrl: "https://github.com/JesusEfrainGarciaRodriguez/rick-and-morty",
    previewUrl: "https://jesusefraingarciarodriguez.github.io/rick-and-morty/",
  },
  {
    img: restauranteImage,
    title: "Restaurante",
    description: "Landing Page promocional de un local especializado en hot cakes.",
    icons: ["JavaScript", "HTML", "Sass"],
    codeUrl: "https://github.com/JesusEfrainGarciaRodriguez/Restaurante",
    previewUrl: "https://jesusefraingarciarodriguez.github.io/Restaurante/",
  },
  {
    img: memoramaImage,
    title: "Memorama",
    description: "Recreación del juego memora con temática de Marvel.",
    icons: ["JavaScript", "HTML", "CSS"],
    codeUrl: "https://github.com/JesusEfrainGarciaRodriguez/Memorama",
    previewUrl: "https://jesusefraingarciarodriguez.github.io/Memorama/",
  },
];
---

<div class="grid grid-cols-1 sm:grid-cols-3 gap-8 mb-6">
  {PROJECTS.map((project) => <ProjectsItem {...project} />)}
</div>
