---
import ProjectsItem from "./ProjectsItem.astro";
import { t } from "i18next";

interface IProjects {
  img: string;
  title: string;
  description: string;
  icons: string[];
  codeUrl: string;
  previewUrl: string;
}
const PROJECTS: Array<IProjects> = t("projects", {
  returnObjects: true,
  ns: "projects"
});
---

<div class="grid grid-cols-1 sm:grid-cols-3 gap-8 mb-6">
  {PROJECTS.map((project) => <ProjectsItem {...project} />)}
</div>
