---
import ProjectsItem from "./ProjectsItem.astro";
const PROJECTS = [
  {
    img: "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Cuesta_del_obispo_01.jpg/800px-Cuesta_del_obispo_01.jpg",
    title: "Todo App",
    description: "Una hermosa app para registrar las tareas cotidianas.",
    icons: ["React", "Java", "JavaScript"],
    codeUrl: "asd",
    previewUrl: "asd",
  },
  {
    img: "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Cuesta_del_obispo_01.jpg/800px-Cuesta_del_obispo_01.jpg",
    title: "Todo App",
    description: "Una hermosa app para registrar las tareas cotidianas.",
    icons: ["React", "Java", "JavaScript"],
    codeUrl: "a",
    previewUrl: "",
  },
  {
    img: "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Cuesta_del_obispo_01.jpg/800px-Cuesta_del_obispo_01.jpg",
    title: "Todo App",
    description: "Una hermosa app para registrar las tareas cotidianas.",
    icons: ["React", "Java", "JavaScript"],
    codeUrl: "",
    previewUrl: "a",
  },
];
---

<div class="grid grid-cols-1 sm:grid-cols-3 gap-8">
  {PROJECTS.map((project) => <ProjectsItem {...project} />)}
</div>
