---
import MoonIcon from "./icons/Moon.astro";
import SunIcon from "./icons/Sun.astro";
---

<script>
  if (
    localStorage.theme === "light"
  ) {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }

  const handleChangeTheme = () => {
    const toggleDarkMode = document.documentElement.classList.toggle("dark");
    toggleDarkMode
      ? (localStorage.theme = "dark")
      : (localStorage.theme = "light");
  };

  const button = document.getElementById("theme-toggle");
  button?.addEventListener("click", () => {
    handleChangeTheme();
  });
</script>

<div class="flex justify-center items-center bg-pattern bg-white dark:bg-none dark:bg-dark z-10">
  <button
    id="theme-toggle"
    class="size-6 rounded-lg p-0.5 hover:bg-gray-100 dark:hover:bg-gray-700 bg-white dark:bg-dark"
  >
    <MoonIcon class="text-violet-700 block dark:hidden" />
    <SunIcon class="text-yellow-500 hidden dark:block" />
  </button>
</div>
